/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/* Custom css start here */
.text-icon .fl-module-content .storename li .address::before {
  content: "\ea7d";
  font-family: "Ultimate-Icons" !important;
  font-size: 1.3em;
  height: auto;
  margin-right: 8px;
  vertical-align: middle;
  width: auto;
}

#menu-item-1848305 > .sub-menu > li {
  border-right: 1px solid;
}
#menu-item-1848305 > .sub-menu > li:last-child {
  border-right: 0px solid;
}
#menu-item-1848305 > .sub-menu > li .fl-has-submenu-container a {
  font-size: 18px !important;
}

#menu-item-1848305 > .sub-menu > li .fl-has-submenu-container:hover a {
  color: #01b1b0 !important;
}
#menu-item-1848305 > .sub-menu {
  padding: 20px !important;
}
.fl-page {
  width: auto;
}
.sliderLOgo
  .slick-track
  > .uabb-image-carousel-item:not(:nth-child(1))
  .uabb-image-carousel-content
  > a {
  pointer-events: none !important;
}
#floorte-banner,
#colorwall-banner > .fl-row-content-wrap {
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}

.brandSlider .slick-track {
  display: flex !important;
  align-items: center;
}
.product-grid.btn-grey > .fl-button {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3em !important;
  padding: 12px 24px !important;
  text-decoration: none;
  text-shadow: none;
}
.fl-slide-text > p {
  margin: 0px !important;
  padding: 0px !important;
}
.fl-slide-text > .fl-builder-content {
  margin: 0px !important;
}

.product-plp-grid
  > .product-row
  > .col-lg-4
  > .fl-post-grid-post
  .product-grid.btn-grey
  > h4
  > span:nth-child(1) {
  min-height: 35px !important;
}
h1.fl-heading span.fl-heading-text,
div.fl-rich-text h1 {
  text-transform: capitalize !important;
}
.product-colors li.found {
  margin-right: 5px !important;
}
.text-icon .fl-module-content .fl-rich-text p {
  display: inline-block;
}
.fl-module-rich-text .fl-module-content ul.storename li .direction a {
  width: 200px;
}
h2.widgettitle {
  font-family: "Cormorant Garamond" !important;
  font-weight: 700 !important;
}
.gfield_captcha_container {
  text-align: left !important;
}
.row.search-row {
  min-height: 400px;
  padding-top: 20px;
  max-width: 1100px;
  margin: 0 auto;
}
body.single .header-main .fl-row-content-wrap .logoCol .fl-module-content,
body.search .header-main .fl-row-content-wrap .logoCol .fl-module-content {
  filter: drop-shadow(2px 4px 6px black);
}
footer ul.social-icons li a:hover i {
  color: #000000 !important;
}

.below.hour_minute_colon {
  margin-top: 10px !important;
}
.MeagaRow h3.fl-heading > a:hover span,
.globalMap .storename .address a:hover p,
.globalMap .storename .phone a:hover span {
  color: #00b1b0 !important;
}
.fl-node-618e0de511897 .fl-slide-0 .fl-slide-content {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
div.gform_wrapper .gfield_time_ampm select {
  /* max-width: 8rem !important;
    width: calc(5rem + 20px) !important;
    -webkit-appearance: none;
    background-image: url("https://thedesignhousedfw.com/wp-content/uploads/2022/04/drop-down-arrow.png");
    background-position: 91%;
    background-size: 8px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 10px; */
}
div.gform_wrapper.gf_browser_chrome .gfield_time_ampm select {
  max-width: 8rem !important;
}
div.gform_wrapper .gfield select {
  /* -webkit-appearance: none;
    background-image: url(https://thedesignhousedfw.com/wp-content/uploads/2022/04/drop-down-arrow.png) !important;
    background-position: 99% !important;
    background-size: 8px !important;
    background-repeat: no-repeat !important; */
}
.uabb-gf-style .ginput_container_select:after {
  top: 38% !important;
}
.fl-module .gform_wrapper .gform_body .gfield .ginput_container input,
.fl-module .gform_wrapper .gform_body .gfield select {
  margin-top: 0px !important;
  background: transparent;
}
/* Footer css Start here  */
.storename li .phone a span:before,
footer .storename li .phone a span:before {
  font-size: 18px;
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px;
}
footer .storename li .phone a span:before {
  font-size: 18px !important;
  margin-right: 14px;
}
footer .storename li .phone a span {
  font-size: 16px;
}
footer .fl-module-content .fl-rich-text .storename li .phone a span:hover {
  color: #01b1b0 !important;
}
footer .storename {
  padding-left: 10px !important;
}
footer .fa-phone-alt {
  display: none;
}
/* Footer css End  here  */
.custom_searchModule {
  display: none;
  z-index: 2;
  position: absolute;
  top: auto;
  right: 0px;
  left: 0px;
}
header span.fl-icon {
  cursor: pointer;
}
.button-wrapper a.button.alt:hover {
  background-color: #ecaf77;
  border-color: transparent;
  color: #fff;
}
.fl-module-content .storename li .address a {
  color: #202020;
}
.fl-module-content .storename li .address a:hover {
  color: #01b1b0;
}
.fl-module-content .fl-rich-text .message a:hover {
  color: #000;
}
.fl-module-content .fl-rich-text .storename li .phone a span:hover {
  color: #000;
}
.store-opening-hrs-container ul.store-opening-hrs li {
  padding: 10px 10px 10px 10px;
  list-style: none;
}
div.text,
div.number {
  display: inline-block;
}
ul.social-icons {
  text-align: center;
}
.gform_wrapper .gfield_checkbox li input[type="checkbox"] {
  margin-top: 0px !important;
}
footer .storename li .phone a:before {
  content: " ";
  display: none;
}
.footermenu li.menu-item a {
  font-size: 14px;
  line-height: 20px;
}
.uabb-infobox-button .uabb-creative-button-text ~ i.ua-icon-arrow-down:before {
  font-size: 0;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
.uabb-infobox-button
  .uabb-creative-button-has-icon
  a.uabb-none-btn:hover
  i.ua-icon-arrow-down:before {
  font-size: 1em;
}
.breadcrumb {
  max-width: 1300px;
  background-color: transparent;
  margin: 0 auto;
  color: #808080;
  /*filter: drop-shadow(0px 2px 6px #000);*/
  position: relative;
  top: 40px;
  font-size: 20px;
}
.breadcrumb a {
  color: #00a5a4 !important;
}
.container .row .product-detail-layout-6 {
  padding-top: 90px !important;
}

.footer-map-sec .address a p {
  display: inline-block !important;
}
.footer-map-sec .address a p:first-child {
  margin-right: 5px !important;
}
.uabb-modal-close {
  z-index: 99999999 !important;
  filter: drop-shadow(0px 0px 2px black);
}
.fl-content-slider .fl-slide-bg-link {
  z-index: +2 !important;
}
.gform_wrapper.gravity-theme .gfield textarea {
  height: 120px !important;
}

.product-colors ul li.found {
  margin-right: 5px;
}

.product-grid.btn-grey .product-variations1 > h5,
.product-grid.btn-grey > h4 > span,
.product-grid .fl-button-text,
.product-detail-layout-6 .product-variations .color-boxs-inners small,
.floorte-color,
.featured-products
  .featured-product-list
  .featured-product-item
  .prod-img-wrap
  .button-wrapper
  .button,
.fl-photo-caption {
  font-size: 14px !important;
}
.gform_heading p.gform_required_legend {
  display: none;
}

/* ADD PRETITLE HEADING RULE */

@import url("https://use.typekit.net/vxg6bud.css");

.fl-col-content .pretitle {
  font-family: graphie, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
}

/* New Css Start  */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
span {
  font-family: "graphie", Verdana, Arial, sans-serif;
}
ul.social-icons li {
  margin: 0 10px 0 0;
}
.facetwp-selections ul:before {
  content: "YOUR SELECTION";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #007978;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #007978;
  padding: 5px 5px 5px 0px;
}
.HeaderBannerRow h4.uabb-infobox-title-prefix {
  font-weight: 500;
}
.facetwp-selections ul {
  padding-bottom: 20px;
  padding-left: 0;
}

header .address a p {
  margin: 0;
  padding: 0;
}
.fl-module-content .fl-rich-text .storename li .phone a span:hover {
  color: #000 !important;
}

footer ul.storename p,
footer ul.store-opening-hrs {
  margin: 0;
  padding: 0;
}
footer .store-opening-hrs-container ul.store-opening-hrs li {
  padding: 5px 0;
}

footer .phone {
  margin: 20px 0;
}
footer .storename li .phone a span,
footer .storename li .address a p {
  font-weight: 600 !important;
}
footer .address a:hover,
footer .address a:hover p,
footer ul.storename p.inline_address a:hover {
  color: #01b1b0 !important;
}
ul.storename .address a,
ul.storename p.inline_address a {
  position: relative;
}
ul.storename .address a:before,
ul.storename p.inline_address a:before {
  content: "\ea32";
  text-rendering: auto;
  font-size: 19px !important;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px;
  font-family: "Ultimate-Icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 0;
  left: 0;
}

div#TopBarMain ul.storename p.inline_address a:before {
  left: auto;
  margin-left: -20px;
}

header div#TopBarMain p.inline_address a {
  text-align: right;
  padding-left: 20px;
  display: block;
}
header div#TopBarMain .address a:hover,
header div#TopBarMain p.inline_address a:hover,
header div#TopBarMain .address a:hover p {
  color: #0d0d0d !important;
}
footer ul.storename .address a p,
footer ul.storename p.inline_address a {
  padding-left: 20px;
  max-width: 220px;
}
div#FlooringSection .uabb-imgicon-wrap .uabb-image-content img {
  min-height: 530px;
  object-fit: cover;
}
div#FlooringSection
  .fl-col-group.fl-col-group-equal-height
  .uabb-infobox-title-wrap {
  min-height: 60px;
  display: flex;
  align-items: end;
  justify-content: center;
}
div#FlooringSection > .fl-row-content-wrap:after {
  border-radius: inherit;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: #f4f4f4;
  min-height: 200px;
}
div#FlooringSection > .fl-row-content-wrap .fl-module.fl-module-info-box {
  z-index: 9;
}
div#brandSlider .slick-track {
  align-items: center;
  display: flex;
  justify-content: center;
}
div#brandSlider .fl-module-content a {
  outline: none !important;
}
div#GallerySlider .uabb-image-carousel ul.slick-dots {
  margin-top: 20px;
}
div#GallerySlider .uabb-image-carousel ul.slick-dots li {
  margin: 0 5px;
  width: 34px;
  height: 6px;
}

div#GallerySlider .uabb-image-carousel ul.slick-dots li button {
  height: 6px;
  background: #e5e5e5;
  border-radius: 0;
  display: block;
  width: 100%;
}
div#GallerySlider .uabb-image-carousel ul.slick-dots li.slick-active button {
  background: #007978;
}
div#GallerySlider .uabb-image-carousel ul.slick-dots li button:before {
  visibility: hidden;
}
div#GallerySlider .uabb-image-carousel img {
  min-height: 300px;
  max-height: 300px;
}
/* .leftImg .fl-col-content.fl-node-content {
      position: absolute;
      left: auto;
      width: -moz-available !important;
      width: -webkit-fill-available !important;
      width: fill-available !important;
  } */
.thelocalExperts ul.storename p.inline_address a,
.thelocalExperts ul.storename .address a {
  color: #231f20;
  font-size: 30px !important;
  position: relative;
  display: inline-block;
}

.thelocalExperts ul.storename p.inline_address a p,
.thelocalExperts ul.storename .address a p {
  padding-left: 30px;
  margin: 0;
}

.thelocalExperts ul.storename .address a:before,
.thelocalExperts ul.storename p.inline_address a:before {
  font-size: 30px !important;
  top: 3px;
}

.thelocalExperts .direction a {
  font-family: graphie, Verdana, Arial, sans-serif !important;
  font-weight: 400 !important;
  font-size: 17px !important;
  line-height: 18px !important;
  letter-spacing: 0.77px;
  text-transform: uppercase !important;
  padding: 15px 42px !important;
  border: 0 !important;
  background: #105f83 !important;
  border-radius: 0 !important;
  color: #f4f4f4 !important;
}
.thelocalExperts .direction a span {
  color: #f4f4f4 !important;
}
.thelocalExperts .direction a:hover {
  background: #007978 !important;
}
.MeagaRow h3.fl-heading a {
  padding: 0;
}
ul.fl-menu-horizontal li.mega-menu > ul.sub-menu li .MeagaRow li {
  display: block;
}

.Visualize_left_col {
  position: relative;
}
.Visualize_left_col > .fl-col-content:before,
.Visualize_left_col > .fl-col-content:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  background: inherit;
  width: 1000%;
}

.Visualize_left_col > .fl-col-content:before {
  left: auto;
  right: 100%;
}

.button-wrapper a.button.alt {
  background: #105f83;
  border-color: #105f83;
  color: #fff;
}
.button-wrapper a.button.alt:hover {
  background-color: #007978;
  border-color: #007978;
  color: #fff;
}
.z-indexcontent {
  z-index: 9;
}

.CategoryFlooring .uabb-imgicon-wrap .uabb-image-content img {
  min-height: 470px;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}

.cardRow.isp .uabb-infobox-title-wrap,
.cardRow.isp .uabb-infobox-text-wrap {
  padding: 0 20px;
}
footer h5.fl-heading a:hover span {
  color: #007978 !important;
}

.product-color-variationPlp .slides > .slide img {
  border-radius: 5px;
}
.product-grid .product-row .fl-post-grid-post .fl-post-grid-image > a > img,
.container .row .product-detail-layout-6 #product-images-holder > div,
.container .row .product-detail-layout-6 .product-variations img,
.product-detail-layout-6 .toggle-image-thumbnails .toggle-image-holder a,
.container .row .product-detail-layout-6 #product-images-holder > div img {
  border-radius: 10px;
}

article.type-instock_carpet .product-swatch,
article.type-instock_lvt .product-swatch,
article.type-instock_hardwood .product-swatch {
  margin-top: 0 !important;
}
/* a.button.alt.getcoupon-btn {
    font-size: 24px !important;
  } */
div#breadcrumbs {
  margin: 0;
  padding: 8px 20px;
}

div#breadcrumbs .container {
  max-width: 1400px;
  min-width: 0;
  width: auto;
  padding: 0 20px;
}

.footer-map-sec ul.storename p.inline_address a:before {
  left: -20px;
  top: 6px;
}
.HeaderBannerRow .uabb-infobox-text.uabb-text-editor a,
.HeaderBannerRow .fl-rich-text a {
  color: #fff;
}
.HeaderBannerRow .uabb-infobox-text.uabb-text-editor a:hover,
.HeaderBannerRow .fl-rich-text a:hover {
  text-decoration: underline;
}

.product-box.pdp2-leftbox {
  margin-top: 70px;
}

.product-box.pdp2-leftbox h1 {
  color: #141414;
  font-size: 30px;
}

div#CopyRight p {
  margin: 0 !important;
  padding: 0 !important;
}

div#CopyRight nav {
  display: flex;
  align-items: center;
  justify-content: end;
}

.location .address a p:first-child {
  margin-left: 20px;
  margin-right: 10px;
}

.custom_searchHeader .fl-module-content.fl-node-content {
  display: flex;
  align-items: center;
  justify-content: end;
}

.bottom-pager .facetwp-pager {
  text-align: right;
}
.formWrapperPdp .gform_footer.top_label input {
  color: #fff !important;
  border-color: #105f83 !important;
  background-color: #105f83 !important;
}
.formWrapperPdp .gform_footer.top_label input:hover {
  color: #fff !important;
  border-color: #007978 !important;
  background-color: #007978 !important;
}

.fl-page-content .fl-rich-text p a {
  color: #105f83 !important;
  font-weight: 600 !important;
}

.fl-page-content .fl-rich-text p a:hover {
  color: #007978 !important;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background-color: #01b1b0 !important;
}

.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
  background-color: #007978 !important;
}

.home .uabb-adv-accordion-content a {
  color: #105f83;
}

.home .uabb-adv-accordion-content a:hover {
  color: #007978;
}
.product-detail-layout-6 .product-box h1 {
  color: #007978 !important;
}

body.post-template-default.single.single-post h1.fl-post-title {
  font-size: 50px;
  color: #01b1b0;
}

.FourBox_images img.uabb-photo-img {
  min-height: 200px;
  object-fit: cover;
  max-height: 200px;
  min-width: 100%;
}

div#portfolio
  .uabb-photo-gallery
  .uabb-photo-gallery-content
  .uabb-gallery-img {
  max-height: 150px;
  min-height: 150px;
  object-fit: cover;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #01b1b0;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #105f83 !important;
  color: #fff !important;
  border-radius: 0px !important;
  font-family: graphie,Verdana,Arial,sans-serif  !important;
  font-weight: 400 !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: 1px solid #105f83 !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #007978 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #007978 !important;
}
.color_variations_slider_1 .slick-track {
    align-items: flex-start;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #105f83 !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #fff !important;
  background-color: #007978 !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #007978 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #105f83 !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-family: graphie,Verdana,Arial,sans-serif  !important;
  font-weight: 400 !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #007978 !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #105f83 !important;
}
.facetwp-selections ul:before, 
div#mm-product-list .product-list-container .facet_filters strong {
    border-bottom: 2px solid #007978 !important;
    color: #007978 !important;
}

.facetwp-selections ul:before {
    content: "Your Selection";
}
.product-detail-layout-6 .image-expander {
    height: 44px !important;
    width: 44px !important;
	    display: flex;
}
.gravity-form-section {
    padding: 0px;
}
.uabb-gf-style .gform_submission_error.hide_summary {
    font-size: 16px!important;
}
.PDP_form .uabb-content > .fl-builder-content {
    padding: 20px!important;
}
.PDP_form .uabb-gf-style .ginput_container_select:after {
    top: 48% !important;
}
@media screen and (min-width: 667px) {
	div#mm-product-details .gform_wrapper.gform_validation_error .top_label li.gfield.gfield_error.gf_left_half, 
div#mm-product-details .gform_wrapper.gform_validation_error .top_label li.gfield.gfield_error.gf_right_half {
    max-width: 50%;
    padding-right: 16px;
}
div#mm-product-details .gform_wrapper.gform_validation_error .top_label li.gfield.gfield_error.gf_left_third, 
div#mm-product-details .gform_wrapper.gform_validation_error .top_label li.gfield.gfield_error.gf_middle_third {
    width: 33.3% !important;
    padding-right: 16px!important;
}
}
/* Media / mobile css start here */
@media (max-width: 1367px) {
  .PorcessRemodling .fl-row-content > .fl-col-group:last-child > div {
    width: 33%;
  }
  div#CopyRight .menu a {
    padding-left: 8px;
    padding-right: 8px;
  }
  div#CabinatesCat .fl-module-content.fl-node-content {
    margin-left: 15px;
    margin-right: 15px;
  }
  .topCol1 {
    width: 20%;
  }
  .topCol2 {
    width: 20%;
  }
  div#FinestCountertops h6.fl-heading {
    font-size: 150px;
  }
  div#CabinatesCat h2.uabb-infobox-title-prefix {
    font-size: 22px;
  }
}

@media (max-width: 1220px) {
  .belowBanner-CategoryInfo .uabb-infobox-title-prefix {
    font-size: 20px !important;
  }
  .belowBanner-CategoryInfo .fl-col-group > .fl-col {
    width: 33%;
  }
  .belowBanner-CategoryInfo .fl-col-group > .fl-col > .fl-col-content {
    margin-top: 0px;
  }
  .belowBanner-CategoryInfo .fl-col-group > .fl-col img {
    height: 557px !important;
    object-fit: cover !important;
  }
  header div#TopBarMain p.inline_address a {
    text-align: center;
    padding-left: 0px;
    display: block;
  }
}
@media (max-width: 1200px) {
  header div#TopBarMain p.inline_address a {
    text-align: center !important;
    padding-left: 0px !important;
    display: block;
  }
  .CategoryFlooring .uabb-infobox-title-prefix,
  .belowBanner-CategoryInfo .uabb-infobox-title-prefix {
    font-size: 14px !important;
    letter-spacing: 1px;
  }
  .backround-heading {
    display: none !important;
  }
  .iPadHide {
    display: none !important;
  }
  div#footer_logo .uabb-photo-align-left {
    text-align: center;
  }
  div#CopyRight nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1300px) {
  div#CabinatesCat
    .fl-module-content.fl-node-content
    h3.uabb-infobox-title-prefix {
    font-size: 22px;
  }
}

@media (max-width: 1025px) {
  div#breadcrumbs .container {
    padding: 0;
  }
  div#TopBarMain .fl-module .fl-rich-text > p {
    margin-bottom: 10px !important;
  }
  div#CabinatesCat h2.uabb-infobox-title-prefix {
    font-size: 22px;
  }
}

@media (max-width: 1024px) {
  .HideIPadLand {
    display: none !important;
  }
  .fl-slide.fl-slide-1 .fl-slide-photo,
  .fl-slide.fl-slide-2 .fl-slide-photo {
    margin-top: 0px !important;
  }
  .locationCol .fl-col-content {
    padding: 0px 20px !important;
  }
  .fl-page-header-logo-col ~ .fl-page-nav-col .fl-page-nav-wrap,
  .fl-page-nav-right.fl-page-header-fixed,
  .fl-page-header-fixed {
    display: none !important;
  }
  #responsive-menu-container div#responsive-menu-additional-content,
  #responsive-menu-container div#responsive-menu-search-box {
    padding: 5px 5%;
  }
  #responsive-menu-additional-content .storename li .phone a:before {
    margin-right: 5px !important;
  }
  /* Font css */
  .uabb-infobox-content .uabb-infobox-title-wrap .uabb-infobox-title-prefix {
    font-size: 22px !important;
  }
  .uabb-infobox-content .uabb-infobox-title-wrap .uabb-infobox-title {
    font-size: 30px !important;
    line-height: 1.3em;
  }
  h2.fl-heading {
    font-size: 30px !important;
    line-height: 1.3em !important;
  }
  .fl-module-content .uabb-infobox-button a.uabb-button,
  .fl-col-group .fl-module-content a.uabb-button {
    font-size: 16px !important;
    line-height: 1.3em !important;
  }
  footer .fl-module-content .fl-heading {
    font-size: 18px !important;
  }
  .topCol2 .uabb-infobox {
    text-align: center !important;
  }
  .topCol2 .infobox-photo-right .uabb-infobox-content {
    width: auto !important;
  }
  header div#TopBarMain p.inline_address a {
    text-align: center;
  }
  div#CopyRight nav {
    justify-content: center;
  }
  ul.social-icons {
    margin-top: 20px;
  }
  .thelocalExperts .direction a {
    padding: 15px 37px !important;
  }
  .rmp-menu-item-link {
    text-transform: uppercase;
  }
  footer .uabb-photo-align-left {
    text-align: center;
  }
}
@media (max-width: 992px) {
  .col-md-6.col-sm-12.product-box.pdp2-leftbox > .row > div {
    width: 100% !important;
  }
  .instockPdp .product-attributes table td,
  .instockPdp .product-attributes table th {
    text-align: left;
    width: 50% !important;
  }

  .instockPdp .product-attributes table th {
    text-align: right;
  }
  .uabb-module-content.uabb-separator-parent {
    text-align: center !important;
  }
  body.post-template-default.single.single-post h1.fl-post-title {
    font-size: 30px;
  }
	.liMeasur {
        min-height: 70px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .fl-sidebar {
    display: block !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  #FlooringSection .fl-col.fl-col-small,
  div#CtaRow .fl-col.fl-col-small {
    max-width: 400px !important;
    width: 100%;
    margin: 0 auto;
  }
  footer *,
  footer h5.fl-heading,
  .home .fl-page-content * {
    text-align: center !important;
  }
  .ReversedRow .fl-col-group-equal-height {
    flex-direction: column-reverse;
  }
}

@media (min-width: 769px) {
  .fl-slide-foreground {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .fl-slide-content-wrap {
    width: 100%;
  }
  .fl-slide-content {
    margin: 0px !important;
  }
  .fl-module .bx-viewport .fl-slide .fl-slide-photo {
    /* margin-top: 160px !important; */
  }
}
@media (max-width: 992px) {
  .fl-module-list span.fl-list-item-heading-icon.fl-list-item-heading-left {
    vertical-align: middle;
  }
  .fl-module-list .fl-list-item-heading .fl-list-item-heading-text {
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }

  .room-visualizer .uabb-dual-button {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  /* PLP Page Css iPad Air */
  .open_sidebar {
    overflow: hidden;
    margin-bottom: 20px !important;
  }

  .open_sidebar a {
    float: unset;
  }

  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: none;
  }

  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .open_sidebar {
    max-width: 160px;
    margin: 0 auto;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }

  .facet_filters .close_bar .close {
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    float: right;
    color: #fff;
    opacity: 1;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .product-detail-layout-6 .product-box .row:first-child .col-md-6:first-child {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6
    .product-box
    .row:first-child
    .col-md-6:nth-child(2) {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6 .toggle-image-thumbnails {
    align-items: center !important;
    justify-content: center !important;
  }

  .facetwp-per-page select {
    border: 1px solid #000;
  }

  /* PLP Page Css iPad Air */
}

/* iPAd 768 */
@media (max-width: 992px) {
  /* ADD PRETITLE HEADING RULE */
  .fl-row .fl-col-content .fl-col-content .pretitle {
    font-size: 26px;
  }
  .max360 img {
    max-width: 360px !important;
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .bx-wrapper
    .fl-slide
    .fl-slide-text
    .fl-row.fl-row-full-width
    .uabb-infobox-title-wrap
    > h5 {
    font-size: 22px !important;
    line-height: 1.3em !important;
  }
  .bx-wrapper
    .fl-slide
    .fl-slide-text
    .fl-row.fl-row-full-width
    .uabb-infobox-title-wrap
    > h3 {
    font-size: 30px !important;
    line-height: 1.3em !important;
  }
  .bx-wrapper
    .fl-slide
    .fl-slide-text
    .fl-row.fl-row-full-width
    .uabb-infobox-text-wrap
    div
    p {
    font-size: 19px !important;
    line-height: 1.3em !important;
  }
  .bx-wrapper
    .fl-slide
    .fl-slide-text
    .fl-row.fl-row-full-width
    .uabb-infobox-button
    a
    span {
    font-size: 16px !important;
    line-height: 1.3em !important;
  }
  .breadcrumb {
    top: -10px !important;
    text-align: left !important;
    padding-left: 20px !important;
  }
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0;
  }
  .fl-row-content-wrap {
    text-align: center;
  }
  .fl-fade-in.fl-animated p,
  .uabb-gf-style .gform_wrapper .gform_footer {
    text-align: center !important;
  }
  .fl-page-header-logo {
    text-align: left;
  }
  .fl-page-header-primary .fl-logo-img {
    max-width: 80%;
  }
  .footer-menu .fl-col-small {
    width: 25% !important;
    float: left;
    clear: none;
  }
  ul#menu-copyright-bar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .copyright-sec-row .fl-col-small {
    width: 100%;
    text-align: center;
  }
  .copyright-sec-row
    .fl-col-small:first-child
    .fl-module-html
    .fl-module-content.fl-node-content {
    margin-top: 20px;
  }
  footer .fl-col-small .fl-module-icon .fl-icon-wrap .fl-icon-text-link {
    font-size: 14px;
  }
  footer .fl-col-small .fl-module-icon .fl-module-content.fl-node-content {
    margin: 0px 10px;
  }
  footer .fl-icon-text {
    padding-left: 0px;
  }
  footer .fl-col-small .fl-module-icon .fl-icon-wrap span {
    padding-right: 15px;
  }
  /* footer .fl-col-small .fl-module-icon .fl-icon-wrap i{
          font-size: 25px;
      } */
  .d-block .fl-row-fixed-width .fl-col-group-equal-height {
    display: block;
  }
  .fl-builder-content .fl-button i.fl-button-icon-after {
    margin-left: -8px;
  }
  .w-100 {
    width: 100%;
  }
  .max-width-issue {
    max-width: 400px !important;
    margin: 0 auto !important;
    float: none;
  }
  .max-width-issue > .fl-col-content.fl-node-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .reversed .fl-col-group-responsive-reversed {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px 0 0 0;
  }
  button#responsive-menu-button {
    top: 60px;
  }
  .uabb-photo__gallery-filters li {
    display: block;
  }
  .gform_wrapper .gfield_time_hour i {
    margin-top: 0% !important;
  }
  .rc-anchor-normal .rc-anchor-pt {
    right: 32px !important;
  }
  .rc-anchor-normal {
    width: 300px !important;
  }
  footer .storename {
    padding-left: 0 !important;
  }
  /* .fl-module-map .fl-map:not(.fl-map-auto-responsive-disabled){
          position: static !important;
      } */
  .max-width-issue > .fl-col-content.fl-node-content {
    padding-left: 0px;
    padding-right: 0px;
  }
  footer .uabb-creative-menu .menu {
    text-align: center !important;
  }
  ul#menu-copy-right-bar-menu li {
    border: 0;
  }
}
/* Slider height issue on mobile */

/* iPAd 768 */
@media (max-width: 992px) {
  .brand-slider.single .uabb-image-carousel .slick-track {
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 600px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 600px !important;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 600px !important;
    text-align: center !important;
    /* 		display: table-cell; */
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 600px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 600px !important;
    /*         display: table!important; */
    max-height: 600px !important;
  }
  .product-attributes table {
    table-layout: fixed !important;
  }
  .FourBox_images img.uabb-photo-img {
    width: 100vh;
  }
  body.page-template.page-template-accessibility .fl-rich-text p a {
    display: block;
  }
}
@media (max-width: 767px) {
  .footer-menu .fl-col-small {
    width: 100% !important;
  }

  .gform_wrapper.gf_browser_safari .gfield_time_ampm select {
    max-width: 10rem !important;
    width: calc(4rem + 20px) !important;
  }
}

@media screen and (max-width: 700px) {
  button#responsive-menu-button.responsive-menu-accessible {
    top: 50px;
  }
  .thelocalExperts ul.storename p.inline_address a,
  .thelocalExperts ul.storename .address a {
    font-size: 20px !important;
  }
  .rmp-menu-wrap .rmp-submenu .rmp-menu-current-item .rmp-menu-item-link {
    line-height: 1em !important;
  }
  .rmp-menu-wrap .rmp-submenu .rmp-menu-item-link {
    line-height: 1em !important;
    display: flex !important;
    align-items: center;
  }
  .rmp-menu-wrap .rmp-submenu .rmp-menu-item-link .rmp-menu-subarrow {
    text-align: center !important;
    line-height: 1em !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}

@media screen and (max-width: 630px) {
  button#responsive-menu-button.responsive-menu-accessible {
    top: 70px;
  }
}

@media screen and (max-width: 600px) {
  .breadcrumb {
    top: -10px !important;
  }
  ul#menu-copyright-bar-menu {
    flex-direction: column;
  }
  div.fl-module-photo-gallery .uabb-photo-gallery-item {
    width: 100%;
    height: 335px;
    margin-bottom: 20px;
  }
  .fl-builder-content div.our-services {
    width: 100% !important;
  }
  .fl-builder-content div.our-services .fl-col-content {
    border-right-width: 0px;
    border-bottom-width: 1px;
  }
}
@media screen and (max-width: 480px) {
  ul#menu-copy-right-bar-menu {
    flex-direction: column;
  }
  ul#menu-copy-right-bar-menu li {
    margin: 5px 0;
  }
  button.rmp_menu_trigger {
    top: 155px !important;
    right: 2% !important;
  }
  .product-grid .product-row .fl-post-grid-post .fl-post-grid-image > a > img {
    max-height: 230px !important;
  }
  div#portfolio
    .uabb-photo-gallery
    .uabb-photo-gallery-content
    .uabb-gallery-img {
    max-height: 300px;
    min-height: 300px;
    object-fit: cover;
  }
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100% !important;
    clear: left !important;
  }
}
@media screen and (max-width: 410px) {
  button#responsive-menu-button.responsive-menu-accessible {
    width: 35px;
    height: 35px;
  }
  .fl-page-bar a *,
  .fl-page-bar .navbar-nav li > a {
    font-size: 11px;
  }
}
@media screen and (max-width: 378px) {
  .fl-page-bar a *,
  .fl-page-bar .navbar-nav li > a {
    font-size: 10px;
  }
}
@media screen and (max-width: 374px) {
  button#responsive-menu-button.responsive-menu-accessible {
    top: 10px;
  }
  .fl-page-bar {
    display: none;
  }
}
body.page-id-1127984 h1 {
  color: inherit;
}
.uabb-image-carousel.slick-slider {
  text-align: -webkit-center;
}
